################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/350ServerApp/ConsoleApp1/bin/Debug/netcoreapp2.1
/.vs/350Game/v16
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/350ServerApp/ConsoleApp1/obj/Debug/netcoreapp2.1
/350ServerApp/ConsoleApp1/obj/Release/netcoreapp2.1
/FightServer/ServerPhysics/obj/Release
/.vs
/350ServerApp/.vs/Server
/350ServerApp/ConsoleApp1/obj
/FightServer/WindowsFormsApplication1/obj/Debug
