################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/350ServerApp/ConsoleApp1/bin/Debug/netcoreapp2.1
/.vs/350Game/v16
/.vs
/350ServerApp/.vs/Server
/350ServerApp/ConsoleApp1/obj/Debug/netcoreapp2.1
/350ServerApp/ConsoleApp1/obj
/FightServer/.vs/WindowsFormsApplication1/v16/Server/sqlite3
/FightServer/.vs/WindowsFormsApplication1/v16
/FightServer/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csprojAssemblyReference.cache
