################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/350ServerApp/ConsoleApp1/bin/Debug/netcoreapp2.1
/.vs/350Game/v16
/.vs
/350ServerApp/.vs/Server
/350ServerApp/ConsoleApp1/obj/Debug/netcoreapp2.1
/350ServerApp/ConsoleApp1/obj
/FightServer/.vs/WindowsFormsApplication1/v16/Server/sqlite3
/FightServer/.vs/WindowsFormsApplication1/v16
/FightServer/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csprojAssemblyReference.cache
/FightServer/.vs/ServerPhysics/v16/Server/sqlite3
/FightServer/.vs/ServerPhysics/v16
/FightServer/ServerPhysics/obj/Debug
/FightServer/ServerPhysics/obj/Release
/FightServer/WindowsFormsApplication1/obj
/FightServer/ServerPhysics/bin/Debug
/350Database/Database/Database/bin/Debug
/350Database/Database/Database/obj/Debug
/350Database/Database/Database/obj/Release
/350Database/Database/Database/bin/x64/Debug
/350Database/Database/Database/bin/x64/Release
/350Database/Database/Database/obj/x64
/350ServerApp/GameServer/bin/Debug/netcoreapp3.1
/350ServerApp/GameServer/obj/Debug/netcoreapp3.1
/350ServerApp/GameServer/obj
/FightServer/ServerPhysics/bin/x64/Debug
/FightServer/ServerPhysics/bin/x64/Release
/FightServer/ServerPhysics/obj/x64/Debug
/FightServer/ServerPhysics/obj/x64/Release
